# Archivos específicos de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Resultados de compilación
bin/
obj/
out/

# Archivos de publicación y paquetes
publish/
*.nupkg

# Configuraciones y dependencias
appsettings.json
appsettings.Development.json
appsettings.Production.json

# Archivos de caché y temporales
*.cache
*.pdb
cachePDB/
*.tmp
*.log
*.bak

# Dependencias de NuGet
packages/
*.nupkg
project.lock.json
project.assets.json
nuget.config

# Configuraciones de Rider/Resharper
.idea/
*.DotSettings.user

# Archivos de respaldo de configuraciones
*.orig
*.swp
*.swn
*.swo

# Carpetas finales del proyecto
FinalFiles/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?